version: '3'
services:
  database:
    image: postgres:15-alpine
    container_name: shtora-db
    restart: unless-stopped
    volumes:
      - ./data/database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: directus
      POSTGRES_PASSWORD: directus
      POSTGRES_DB: directus
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U directus -d directus"]
      interval: 10s
      timeout: 5s
      retries: 5

  directus:
    image: directus/directus:11.14.0
    container_name: shtora-directus
    restart: unless-stopped
    ports:
      - "8055:8055"
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    depends_on:
      database:
        condition: service_healthy
    environment:
      TELEMETRY: "false"
      DISABLE_UPDATE_CHECK: "true"
      KEY: "shtora-secret-key-minimum-32-chars"
      SECRET: "shtora-another-secret-32-chars-x"
      
      DB_CLIENT: pg
      DB_HOST: postgres.railway.internal
      DB_PORT: 5432
      DB_DATABASE: railway
      DB_USER: postgres
      DB_PASSWORD: <тот самий PGPASSWORD>
      DB_SSL: "false"

      
      ADMIN_EMAIL: admin@shtora.ua
      ADMIN_PASSWORD: admin123
      CORS_ENABLED: "true"
      CORS_ORIGIN: "*"
      PUBLIC_URL: "https://shtora-production-up.railway.app"

