services:
  directus:
    image: directus/directus:11.14.0
    container_name: shtora-directus
    restart: unless-stopped
    ports:
      - "8055:8055"
    environment:
      TELEMETRY: "false"
      DISABLE_UPDATE_CHECK: "true"
      KEY: "shtora-secret-key-minimum-32-chars"
      SECRET: "shtora-another-secret-32-chars-x"
      DB_CLIENT: pg
      DB_HOST: postgres.railway.internal
      DB_PORT: postgres.railway.internal
      DB_DATABASE: railway
      DB_USER: postgres
      DB_PASSWORD: UCTqzktKSDwfBzLYxisbuvgtePKSIMaM
      DB_SSL: "true"
      ADMIN_EMAIL: admin@shtora.ua
      ADMIN_PASSWORD: admin123
      CORS_ENABLED: "true"
      CORS_ORIGIN: "*"
      PUBLIC_URL: "https://shtora-production.up.railway.app"
