version: '3'
services:
  directus:
    image: directus/directus:11.14.0
    container_name: shtora-directus
    restart: unless-stopped
    ports:
      - "8055:8055"
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
      - ./entrypoint.sh:/entrypoint.sh
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    environment:
      TELEMETRY: "false"
      DISABLE_UPDATE_CHECK: "true"

      # External DB (Railway or local)
      PGHOST: "postgres.railway.internal"
      PGPORT: "5432"
      PGDATABASE: "railway"
      PGUSER: "postgres"
      PGPASSWORD: "UCTqzktKSDwfBzLYxisbuvgtePKSIMaM"

      ADMIN_EMAIL: admin@shtora.ua
      ADMIN_PASSWORD: admin123
      CORS_ENABLED: "true"
      CORS_ORIGIN: "*"
      PUBLIC_URL: "https://shtora-production-up.railway.app"
